/* Video background */
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

body {
  font-family: "Titillium Web", sans-serif;
  color: rgb(255, 153, 0);
}

.news-content {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-top: 10px;
}

.news-content img {
  width: 300px;
  height: 150px;
  margin: 10px;
}

.about-video {
  padding: 20px;
  text-align: center;
}

/* Blurred background for content */ 
.blurred {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(20px);
}

.contentImage {
  border: 2px solid gold;
}

/* Main div's */
.container {
  display: flex;
  flex-direction: column;
  border: solid 1px green;
}

.landingLogo {
  text-align: center;
  animation: fadeIn 8s;
  padding: 400px;
}

.landingLogo a {
  color: white;
  text-decoration: none;
  font-family: "Titillium Web", sans-serif;
  font-size: 22px;
}

.landingLogo p {
  text-align: center;
  color:  goldenrod;
}

.gallery-content {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-top: 10px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.gallery-content img {
  width: 300px;
  height: 150px;
  margin: 10px;
}

@keyframes fadeIn { 
  0% { opacity: 0; } 
  100% { opacity: 1; }
}

/* Navigation bar */
nav a {
  color: rgb(161, 109, 32);
  font-size: 30px;
  font-family: "Titillium Web", sans-serif;
  text-decoration: none;
  margin-left: 5px;
  margin: 5px;
}
nav a:hover {
  color: black;
  background: goldenrod;
}

nav {
  margin: 2px;
}

/* Lists */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

/* Gradient line */
.gradient {
  background: linear-gradient(
    90deg,
    rgba(121, 92, 9, 96) 0%,
    rgba(2, 0, 36, 100) 100%
  );
  height: 2px;
}

.gradient2 {
  background: linear-gradient(
    90deg,
    rgba(121, 92, 9, 96) 100%,
    rgba(2, 0, 36, 100) 0%
  );
  height: 2px;
}

/* Images */
.liquidGif {
  border: 1px solid goldenrod;
  float: left;
  padding: 2px;
  margin: 0px 10px 10px 0px;
}

.liquidGif p {
  text-align: center;
}

.myLogo {
  width: 450px;
  margin: 5px;
}

.news-article-picture {
  border: 1px solid goldenrod;
  float: left;
  padding: 2px;
  margin: 0px 10px 10px 0px;
}

.news-article-picture img {
  width: 300px;
  height: 150px;
}

.news-picture {
  border: solid 1px goldenrod;
}

.news-picture p {
  text-align: center;
}

/* News navigation */
.newsNav {
  display: flex;
  flex-direction: row;
}

.newsGifs {
  padding: 12px;
  margin: 0px 10px 10px 0px;
}

.newsGifs img {
  width: 350px;
  height: 200px;
}

.newsContent a {
  color: rgb(255, 183, 0);
}

/* Footer */
.myFooter {
  flex-basis: 20%;
  text-align: center;
}

.myFooter ul {
  display: inline-block;
  margin: 5px;
}

.myFooter li {
  margin: 12px;
}

.myFooter p {
  color: rgba(231, 227, 207, 0.721);
}

span {
  font-size: 45px;
}

.myFooter a {
  color: rgba(214, 176, 21, 0.721);
}

.myFooter a :hover {
  color: rgb(255, 255, 255);
}

/* Forms */ 
.myForm input, textarea, select {
  display: block;
  width: 30%;
  background-color: transparent;
  padding: 5px 10px;
  margin: 5px 0;
  box-sizing: border-box;
}

.myForm select {
  color: rgb(255, 153, 0);
  background-color: black;
}

.myForm {
  border-radius: 5px;
  padding: 5px;
}

.myForm textarea {
  font-family: "Titillium Web", sans-serif;
}

.myForm button {
  width: 30%;
  background-color: goldenrod;
  font-size: 20px;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

/* Utils */

.anchor-tag a {
  text-decoration: none;
  color: blueviolet;
}

.anchor-tag a:hover {
  color: blanchedalmond;
}

.dosbox {
  text-align: center;
}

.dosbox-container {  
  margin: auto;
  width: 800px; 
  height: 500px; 
}

.dosbox-container > .dosbox-overlay { 
  background: url(https://js-dos.com/cdn/DOOM.png); 
}